<div class="container">
      <div class="row index-heading">
        <div class="col-lg-8">
            <h1>Add Clinics<span class="glyphicon glyphicon-map-marker" style="color:#1abc9c"></span></h1>
              <%= render 'form' %>
    </div>
  </div>
</div>